doctype html
html
  head
    meta(charset='utf-8')
    title OKINAWA NOISE MAP
    meta(name='viewport', content=' width=width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(charset='UTF-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(name='description', content='OKINAWA NOISE MAP（オキナワ・ノイズ・マップ）は、フィールド・レコーディングされた沖縄基地周辺の騒音をリアルに地図上にマッピングし、そこに暮らす人々の視点から擬似体験します。')
    meta(name='keywords', content='沖縄,騒音,米軍基地,ノイズ,オスプレイ,マッピング,普天間基地,ストリートビュー,立体音響,フィールド・レコーディング,Okinawa,Noise,U.S. Bases,Osprey,Mapping,Street View,3D sound reproduction')
    link(rel='canonical', href='http://okinawa.noisemap.jp/')
    meta(property='og:title', content='Okinawa Noise Map')
    meta(property='og:image', content='http://okinawa.noisemap.jp/img/ogp.jpeg')
    meta(property='og:url', content='http://okinawa.noisemap.jp/')
    meta(property='og:site_name', content='OKINAWA NOISE MAP')
    meta(property='og:description', content='OKINAWA NOISE MAP（オキナワ・ノイズ・マップ）は、フィールド・レコーディングされた沖縄基地周辺の騒音をリアルに地図上にマッピングし、そこに暮らす人々の視点から擬似体験します。')
    meta(property='og:locale:alternate', content='ja')
    link(rel='stylesheet', href='cesium/Widgets/widgets.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body

    #intro
      #toptitle
        h1 OKINAWA NOISE MAP
      #desc3
        h1.percent Listen
    #head
      h3.head_logo OKINAWA NOISE MAP
      .foot-content
        // Button trigger modal
        button.about.btn.btn-link(type='button', data-toggle='modal', data-target='#myModal')
          | About
      .foot-content
        a('href'='http://www.facebook.com/share.php?u=http://okinawa.noisemap.jp', 'onclick'="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;")
          i('class'="i-about fa fa-facebook-official", 'aria-hidden'="true")
      .foot-content
        a(href='http://twitter.com/share?count=horizontal&original_referer=http://okinawa.noisemap.jp&text=OKINAWA NOISE MAP&', onclick="window.open(this.href, 'TWwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;")
          i('class'="i-about fa fa-twitter-square", 'aria-hidden'="true")
      .foot-content
        a(href='https://plus.google.com/share?url=http://okinawa.noisemap.jp', onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;")
          i('class'="i-about fa fa-google-plus-square", 'aria-hidden'="true")
      .foot-content
        a(href='mailto:okinawa.noisemap@gmail.com')
          i.i-about.fa.fa-envelope-square(aria-hidden='true')
    #cesium.cesium
    #waveform
      #wavedesc
      #wavedesc_en
      button.btn.btn-link.btn-return << back to map
    #sv
    #foot
      .foot-desc
        p
          | Click red points. Headphones recommended.
          br
          | 赤いポイントをクリックします. ヘッドフォンの使用をおすすめします.
    // Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h3#myModalLabel.modal-title OKINAWA NOISE MAP
          .modal-body
            p('style'='')
              | OKINAWA NOISE MAP（オキナワ・ノイズ・マップ）は、フィールド・レコーディングされた沖縄基地周辺の騒音をリアルに地図上にマッピングし、そこに暮らす人々の視点から擬似体験します。
            hr
            #about_member
              p
                b - Direction, Field Recording, Sound Editing -
                br
                |    前林明次｜Akitsugu Maebayashi
              br
              p
                b - Web Design & Programming -
                br
                |    松野峻也｜Shunya Matsuno
              br
              p
                b - Field Recording Cooperation, U.S. Bases Mapping -
                br
                |    具志堅裕介｜Yusuke Gushiken
              #about_foot
          .modal-footer
            p copyright &copy; 2016 - OKINAWA NOISE MAP

    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDB6eGK2LO6h_YT8OSFU_qpDXL2Q6i-vSg&callback=initMap')
    script(src='cesium/Cesium.js')
    script(src='/js/jquery-2.2.1.min.js')
    script(src='/js/jquery.colorbox-min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/velocity.min.js')
    script(src='/js/two.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js")
    script(src='/js/main.js')
    script.
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-79575085-1', 'auto');
     ga('send', 'pageview');
